@import "./variables.scss"; //Reset CSS
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%; 
}
body {
    height: 100%; 
    user-select: none;          /* Likely future */    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    font-family: $font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: $blue!important;
}


@for $i from 0 to 15 {
  .mt-#{$i}rem {
    margin-top: #{$i}rem;
  }
}

a {
    text-decoration: none!important;
    color: inherit!important;
}

input:focus, button:focus{
    outline: none;
}

.bgDanger { background-color: $red!important; }
.bgSuccess { background-color: $green!important; }
.bgWarning { background-color: $orange!important; }

.flexCenter {
    display: flex;
    justify-content: center
}